<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Inventory</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inventory.styles.css" asp-append-version="true" />
    <!-- Option 1: Include in HTML -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <style>
        :root {
            --header-height: 2rem;
            --nav-width: 68px;
            --first-color: #333;
            --first-color-light: #333;
            --white-color: #F7F6FB;
            --z-fixed: 100;
        }

    </style>

</head>
<body>
   @await Html.PartialAsync("_AdminNavbar")
   @* @await Html.PartialAsync("_ManagerNavbar"); *@
   <main role="main" class="">
     @RenderBody()
   </main>
    @* </div> *@
    <!--Container Main end-->
        @* <main role="main"">
            @RenderBody()
        </main> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
        if (window.history && window.history.pushState) {
            window.history.pushState('', null, './');
            window.onpopstate = function () {
                window.location.href = '`~View/Dashboard/Index';
            };
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
