@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inventory</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Inventory.styles.css" asp-append-version="true" />
    <!-- Option 1: Include in HTML -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

<div class="container min-vh-100 d-flex justify-content-center align-items-center">
        <!-- Hero Section -->
        <div class="row align-items-center no-gutters">
            <div class="col-xl-5 col-lg-6 col-md-12">
                <div class="py-5 py-lg-0">
                    <h1 class="text-black display-4 fw-bold">
                        Welcome to Inventory
                    </h1>
                    <p class="text-black-50 mb-4 lead">
                        This is a demo of inventory management system.Feel free to give me feedback at meapurba5@gmail.com
                    </p>
                    <a asp-action="Signup" class="btn btn-success">Sign Up</a>
                    <a asp-action="Signin" class="btn btn-outline-secondary">Sign in</a>
                </div>
            </div>
            <div class=" col-xl-7 col-lg-6 col-md-12 text-lg-right text-center bg-white">
                <img src="~/assets/images/hero.webp" alt="" class="bg-transparent">
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>

